[Unit]
Description=Jenkins slave service

[Service]
ExecStart=/usr/local/bin/start-slave
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target